<h2>Reporter output</h2><table><tr><td><div "result">User is at home page (FAILED : 23s)</div></td></tr>
<tr><td><div "result">User Enters Email or Mobile number as &quot;8999579890&quot; (SKIPPED)</div></td></tr>
<tr><td><div "result">User enters password as &quot;December@30&quot; (SKIPPED)</div></td></tr>
<tr><td><div "result">User clicks on Login (SKIPPED)</div></td></tr>
<tr><td><div "result">User should be able to Sign In and see username as &quot;Shubham&quot; on home page (SKIPPED)</div></td></tr>
</table>